.theme-dark{
  --page-background-color:#17181E;
  --button-background-color: #805ad5;
  --input-background-color: #edf2f7;
  --card-background-color: #1f2027;
  --nav-background-color: #1f2027;

  --text-default-color: #fff;
}