.theme-light{
  --page-background-color:#F5F6F9;
  --button-background-color: #805ad5;
  --input-background-color: #edf2f7;
  --card-background-color: #fff;
  --nav-background-color: #fff;

  --text-default-color: black;
  --text-input-default-color: #000;

}